.bg-katrade {
    background-color: rgb(244,244,252);
}

.menu-area {
    width: 20%;
    height: 400px;
    float: left;
    /* background-color: tomato; */
}

.information-area {
    width: 80%;
    height: auto;
    float: right;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}

.menu-area-mobile {
    width: 50px;
    height: 400px;
    float: left;
    /* background-color: seagreen; */
}