.container-following {
  width: auto;
  height: auto;
  background-color: white;
  padding: 10px 30px 30px 30px;
  margin-bottom: 20px;
}

/* .container-following h4:nth-child(1), .container-following h5:nth-child(2) {
    display: inline-block;
    margin-right: 20px;
} */

/* .container-following > h5:nth-child(2) {
    color: #95bddfd5;
} */

@media screen and (max-width: 1100px) {
  .block-follow {
    display: block;
  }
}
