.container-following {
    width: auto;
    height: auto;
    background-color: white;
    padding: 10px 30px 30px 30px;
    margin-bottom: 20px;
}

.container-following h4:nth-child(1), .container-following h5:nth-child(2) {
    display: inline-block;
    margin-right: 20px;
}

.container-following > h5:nth-child(2) {
    color: #95bddfd5;
}

.following-grid {
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 2%;
}


.following-block > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5%;
}

.following-block > h5 {
    margin: 0;
}

.following-block > div {
    float: right;
}

.following-block * {
    display: inline-block;
}

@media screen and (max-width: 1100px){
    .following-grid {
        display: block;
    }
}