.container-inventory {
    width: auto;
    height: auto;
    background-color: white;
    padding: 10px 30px 30px 30px;
    margin-bottom: 20px;
}

.container-inventory > h4, .container-inventory > h5 {
    display: inline-block;
    margin-right: 20px;
}

.container-inventory > h5 {
    color: #95bddfd5;
}

.container-inventory > a {
    float: right;
    text-decoration: none;
    color: #888888;
}

.container-inventory > a:hover {
    color: rgb(63, 63, 63);
}