.container-manage {
  width: auto;
  height: auto;
  background-color: white;
  padding: 10px 30px 30px 30px;
  margin-bottom: 20px;
}

.container-manage > h4,
.container-manage > p {
  display: inline-block;
}

.container-manage > p {
  float: right;
}

.add-block {
  height: 130px;
}

.gr-add {
  font-size: 30px;
  margin: 0;
}

.add {
  margin: 0;
}

.gr-add:hover {
  font-size: 34px;
}

button:not(:disabled) {
  cursor: default;
}
