.outline {
    border: 2px solid #C4C4C4;
    border-radius: 8px;
}

.content-item {
    padding: 13px 0;
    width: 5000px;
    min-width: 400px;
    max-width: 45%;
    border-radius: 8px;
    cursor: pointer;
}

.myItem-request {
    padding: 13px;
    width: 5000px;
    min-width:400px;
    max-width: 45%;
    border-radius: 8px;
    background-color: #E2E2E2;
    cursor: pointer;
}

.yourItem-request {
    padding: 13px;
    width: 5000px;
    min-width:400px;
    max-width: 45%;
    border-radius: 8px;
    background-color: #F5F5F5;
    cursor: pointer;
}

.handleHover:hover {
    opacity: 0.9;
}

@media only screen and (max-width: 630px) {
    .outline p {
        font-size: 18px;
    }
    .outline h5 {
        font-size: 22px;
    }
}