.fly-in-top-1 {
  animation: fly-in-top 800ms ease-out;
}
.fly-in-top-2 {
  animation: fly-in-top 1300ms ease-out;
}
.fly-in-top-3 {
  animation: fly-in-top 1900ms ease-out;
}
.fly-in-top-4 {
  animation: fly-in-top 2300ms ease-out;
}

.fly-in-bottom-1 {
  animation: fly-in-bottom 800ms ease-out;
}
.fly-in-bottom-2 {
  animation: fly-in-bottom 1300ms ease-out;
}
.fly-in-bottom-3 {
  animation: fly-in-bottom 1900ms ease-out;
}
.fly-in-bottom-4 {
  animation: fly-in-bottom 2300ms ease-out;
}

@keyframes fly-in-top {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fly-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
