.container-changepassword {
    width: auto;
    height: auto;
    background-color: white;
    padding: 10px 30px 30px 30px;
    margin-bottom: 20px;
}

.changepassword-current {
    width: 100%;
}

.changepassword-current h6:nth-child(1), .changepassword-current h6:nth-child(5), .changepassword-current h6:nth-child(8) {
    display: inline-block;
    width: 25%;
}

.changepassword-current h6 {
    margin-top: 20px;
}

.changepassword-current > input {
    border: 1px solid #d7d7d7;
    padding: 0 10px;
    font-size: 20px;
    display: inline-block;
    width: 45%;
}

.changepassword-current p {
    display: inline-block;
    width: auto;
    margin: 0 0 0 2%;
}

.changepassword-btn {
    margin-left: 25%;
    width: 150px;
    text-align: center;
    font-size: 24px;
    height: 50px;
    color: white;
    background-color: rgb(44,204,132);
    margin-top: 50px;
}