.container-profile-contact {
    width: auto;
    height: auto;
    background-color: white;
    padding: 10px 30px 30px 30px;
    margin-bottom: 20px;
}

.column-proifle {
    float: left;
    width: 70%;
    height: auto;
  }

.column-picture {
    float: right;
    width: 30%;
    height: auto;
    background-color: white;
}

.column-picture img {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.row-profile-contact:after {
    content: "";
    display: table;
    clear: both;
}

/* .username-float {
    display: flex;
} */

.float-tmp1 {
    float: left;
}

.box-tmp1 {
    border: 0.3px solid #adadad;
    width: 60%;
    float: right;
    margin-right: 10%;
    padding: 0 15px;
}

.profile-box2 {
    margin-top: 50px;
    margin-bottom: 150px;
}

.contact {
    width: 100%;
}

.contact > h6:nth-child(1), .contact > h6:nth-child(5) {
    display: inline-block;
    width: 30%;
    /* height: 100%; */
}

.contact > h6:nth-child(2), .contact > h6:nth-child(6) {
    display: inline-block;
    width: 50%;
}

.contact a {
    width: 10%;
    text-align: right;
    display: inline-block;
}

.profile-btn {
    text-align: center;
    font-size: 24px;
    width: 150px;
    height: 50px;
    color: white;
    background-color: rgb(44,204,132);
    margin-left: 30%;
    margin-top: 50px;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}