.interest-card {
  z-index: 20;
  margin: 5px;
  min-width: 157px;
  width: 19%;
  max-width: 226px;
  height: 250px;
  border-radius: 3px;
  background-color: #ffffff;
  transition: 400ms ease;
  /* z-index: 0; */
  border: solid rgb(218, 224, 231) z 1px;
}
.interest-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.interest-card-dark {
  z-index: 20;
  margin: 5px;
  min-width: 157px;
  width: 19%;
  max-width: 226px;
  height: 250px;
  border-radius: 3px;
  background-color: #1a1a1a;
  transition: 400ms ease;
  /* z-index: 0; */
  border: solid rgb(71, 72, 73) 1px;
}
.interest-card-dark:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.interest-photo-card {
  height: 130px;
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.star {
  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -2%;
  left: 3%;
  z-index: 5;
  color: rgb(255, 255, 255);
  background-color: rgb(194, 0, 48);
  border-radius: 0 0 8px 8px;
  min-height: 30px;
}

.interest-text-card {
  padding: 0 10px;
}

.interest-text-card h5,
.interest-text-card p {
  box-sizing: border-box;
  pad: 0;
  margin: 0;
}

.interest-text-card a:hover {
  text-decoration: none;
}

.hoverUsername:hover {
  text-decoration: underline;
}
