.header {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    background-color: rgb(255, 255, 255);
    z-index: 21;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}


.logo {
    height: 30px;
}

.header-con {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    /* flex-wrap: wrap; */
}

.cate {
    margin: 0;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
    color: black;
}

.cate-hidden {
    display: none;
    margin: 5px 0;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.cate:hover {
    transition: 0.5s ease;
    color: green;
}

.categories {
    /* display: flex; */
    list-style-type: none;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    flex-direction: column;
    top: 90px;
    left: -1500px;
    opacity: 0;
    /* transition: 0.1s ease; */
    background-color: rgba(0, 0, 0, 1);
}

.active {
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
    top: 90px;
    left: 0px;
    position: absolute;
    z-index: 2;
    align-content: center;
    /* transition: 0.1s ease; */
}

.categories li a {
    text-decoration: none;
    color: white;
}

.search {
    margin: auto 0 auto 0;
    min-width: 300px !important;
    width: 460px;
    max-width: 700px;
    height: auto;
    border: solid 1px rgb(182, 182, 182);
    border-radius: 25px
}

.search-bar {
    padding: 0 25px;
    font-size: 22px;
    border: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    float: left;

    width: 80%;
    height: 40px;
    background: white;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background: rgb(21, 199, 119);
    color: white;
    font-size: 17px;
    border: 0px;
    border-left: none;
    cursor: pointer;
    transform: scale(1.1);
    transition: 400ms ease;
}
.search-btn:hover {
    transform: scale(1.2);
}


.desktop-icon > a {
    font-size: 20px;
    background-color: rgb(236, 241, 247);
    color: rgb(94, 108, 124);
    display: flex;
    float: right;
    margin: 0 10px;
    padding: 10px;
    border-radius: 50%;
}

.mobile-icon {
    font-size: 20px;
    background-color: rgb(236, 241, 247);
    color: rgb(94, 108, 124);
    float: right;
    margin: 0 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: none;
}

.mobile-menu {
    display: flex;
    list-style-type: none;
    width: 100%;
    height: auto;
    position: absolute;
    flex-direction: column;
    top: 90px;
    left: 0;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 1);
}

.mobile-menu.active {
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
    left: 0;
    z-index: 1;
    align-content: center;
    transition: 0.5s ease;

    cursor: pointer;
}

.mobile-menu li a {
    text-decoration: none;
    color: white;
}

.categories-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 400ms ease;
    border-radius: 10px;
    padding: 5px 10px;
    color: rgb(48, 63, 75);

    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.categories-button:hover {
    cursor: pointer;
    background-color: rgb(241, 245, 248);
}
.categories-drop {
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    right: -40%;
    height: auto;
    background-color: rgb(255, 255, 255);
    min-width: 200px;
    width: auto;
    box-shadow: 0px 0px 20px rgba(141, 144, 148, 0.4);
    /* border: solid 1px rgb(217, 227, 236); */
    border-radius: 10px;
    z-index: 1;
}
.categories-drop p {
    padding: 6px 30px;
    font-size: 20px;
    min-width: 100px;
    color: rgb(108, 121, 135);
    cursor: pointer;
    transition: 400ms ease;
    z-index: 67;
    display: block;
    margin: 0;
}
.categories-drop p:hover {
    background-color: rgb(221, 253, 241);
}

.menu-button {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 400ms ease;
    border-radius: 10px;
    padding: 5px 10px;
    color: rgb(48, 63, 75);

    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
.menu-button:hover {
    cursor: pointer;
    background-color: rgb(241, 245, 248);
}
.menu-drop {
    display: none;
    position: absolute;
    top: 120%;
    left: -107px;
    right: -40%;
    height: auto;
    background-color: rgb(255, 255, 255);
    /* min-width: 100px; */
    width: 150px;
    box-shadow: 0px 0px 20px rgba(141, 144, 148, 0.4);
    /* border: solid 1px rgb(217, 227, 236); */
    border-radius: 10px;
    z-index: 1;
    padding: 6px 30px;
}
.menu-drop a {
    margin: 6px 0;
    font-size: 20px;
    color: rgb(108, 121, 135);
    cursor: pointer;
    transition: 400ms ease;
    z-index: 67;
    display: block;
}
.menu-drop p:hover {
    background-color: rgb(221, 253, 241);
}


.show {
    display: block;
    animation: showcat 400ms ease;
}
.hide {
    display: none;
    animation: hidecat 400ms ease;
}

@keyframes showcat {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hidecat {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cat-text::after {
    content: "Categories";
}

@media screen and (max-width: 1130px) {
    .cat-text::after {
        content: "";
    }
}

@media screen and (max-width: 1010px) {
    .desktop-icon {
        display: none;
    }
    .mobile-icon {
        display: flex;
    }
    .cate {
        display: none;
    }
    .cate-hidden {
        display: block;
    }
    .menu-button {
        display: flex;
    }
}


