.select-items-menu {
    border: solid transparent;
    border-width: 0 0 3px 0;
    transition: 300ms ease;
    cursor: pointer;
}
.select-items-menu:hover {
    border: solid #15C777;
    border-width: 0 0 3px 0;
    cursor: pointer;
}

.currenttap {
    border: solid 2px #15C777;
    border-width: 0 0 3px 0;
}
.currenttap:hover {
    border: solid 2px #15C777 !important;
    border-width: 0 0 3px 0 !important;
}