.background {
    background-color: white;
}

.topic-request > a {
    width: 150px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: #212529;
    background-color: transparent;
}

.topic-request > p {
    min-width: 150px;
    padding: 0 20px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #212529;
}

.topic-request > p:hover {
    /* background-color: rgba(218, 218, 218, 0.2); */
}

.currenttap {
    border: solid 2px #04d66d;
    border-width: 0 0 3px 0;
}